.header-home {
    display : flex;
    align-items : center;
    justify-content : center;
    margin-top : 25px;

    img{
      width : 50%;
      height : 50%;
      min-width : 150px;
      max-width : 350px;
    }
  }


  .header-menu {
    margin-left: 20px;
    margin-top : 25px;
    margin-bottom: 15px; /* cette éléméent était dans la section en desous sur la page du home */
    @include flex-row;
    align-items : center;


   img{
      width : 50%;
      height : 50%;
      min-width : 150px;
      max-width : 350px;
    }

    &--center{
      @include flex-center;
    }
  }