.header-home {
    margin-top : 25px;

    a{
      @include flex-center;
      img{
        width : 50%;
        height : 50%;
        min-width : 150px;
        max-width : 350px;
      }
    } 

  }


  .header-menu {
    margin-left: 20px;
    margin-top : 25px;
    margin-bottom: 15px;
    @include flex-row;
    align-items : center;
    justify-content : center;

    a{
      display: flex;
      justify-content : center;

      .fa-arrow-left{
        position: absolute;
        left: 20px;
      }

      img{
        width : 50%;
        height : 50%;
        min-width : 150px;
        max-width : 350px;
      }
    }


    &--center{ // lui, il fait pas son travail
      @include flex-center;
      justify-content : center;
    }
  }

  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }

  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }