.header-home {
    margin-top : 25px;

    a{
      @include flex-center;
      img{
        width : 50%;
        height : 50%;
        min-width : 150px;
        max-width : 350px;
      }
    } 

  }


  .header-menu {
    margin-left: 20px;
    margin-top : 25px;
    margin-bottom: 15px; /* cette élément était dans la section en desous sur la page du home */
    @include flex-row;
    align-items : center;

    a{
      display: flex;
      justify-content : center;

      img{
        width : 50%;
        height : 50%;
        min-width : 150px;
        max-width : 350px;
      }
    }


    &--center{
      @include flex-center;
    }
  }

  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }