.index_bar{
  animation: hide-scroll 2.9s backwards;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: -99;
  animation: loader 0.5s ease-in-out 2.5s forwards;

  &--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name{
    color : white;
    font-family: "Shrikhand", sans-serif;
    font-size: 24px;

    span {
      display: inline-block;
    }
    
    span:nth-child(1) {
      animation: grow 1s ease-in-out infinite;
    }
    span:nth-child(2) {
      animation: grow 1s ease-in-out 0.10s infinite;
    }
    span:nth-child(3) {
      animation: grow 1s ease-in-out 0.20s infinite;
    }
    span:nth-child(4) {
      animation: grow 1s ease-in-out 0.30s infinite;
    }
    span:nth-child(5) {
      animation: grow 1s ease-in-out 0.40s infinite;
    }
    span:nth-child(6) {
      animation: grow 1s ease-in-out 0.50s infinite;
    }
    span:nth-child(7) {
      animation: grow 1s ease-in-out 0.60s infinite;
    }
    span:nth-child(8) {
      animation: grow 1s ease-in-out 0.70s infinite;
    }

  }

  &__circle {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation: rotate 2.5s linear infinite;
  }
  &__circle2 {
    display: none;
  }
  &__circle3 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .loader__circle2 {
    display: block;
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    animation: rotate 2.5s linear reverse infinite;
  }
}
@media screen and (min-width: 1280px) {
  .loader__circle3 {
    display: block;
    position: absolute;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    animation: rotate 2.5s linear infinite;
  }
}

.c1 {
  border-left: 5px solid #9356DC;
}
.c2 {
  border-right: 5px solid #FF79DA;
}
.c3 {
  border-top: 5px solid #f15a14;
}
.c4 {
  border-bottom: 5px solid #99E2D0;
}