@media screen and (min-width: 500px) {
  .header-home {
    a {
      width: 200px; 
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) {

  // index
  .restaurants {
    @include section;
    background-color: #F6F6F6;
    text-align: center;

    &--flex {
      margin-right: 30px;
      margin-left: 30px;
      margin-top: 40px;
      gap: 60px 80px;
      @include flex-row;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__article {
      transform: scale(1.1);

      &--green {
        margin-left: -20px;
      }
    }
  }

  .operation {
    text-align: center;

    div {
      @include flex-row;
      justify-content: center;
      flex-wrap: wrap;
    }

  }

  /* Menus */
  .menu-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;

  }

  .menu {
    &__title {
      justify-content: center !important;
      gap: 40px;
    }

    &--flex {
      @include flex-row;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
    }

  }

  /* Footer */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 140px;
    }

    ul {
      padding: 0;
      display: flex;
      gap: 40px;
    }

  }

  /* header */
  .header-menu {
    a {
      .fa-arrow-left {
        left: 30px;
      }
    }
  }
  .header-home {
    a {
      width: 250px; 
    }
  }

}


@media screen and (min-width: 1235px) {

  .restaurants {
    >div {
      @include flex-row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1536px) {

  .restaurants {
    >div {
      gap: 60px 80px;
    }
  }
}

@media screen and (min-width: 980px) {
  .header-home {
    a {
      width: 300px; 
    }
  }

}

/* Ordinateur */
@media screen and (min-width: 1280px) {

  .header-menu {
    a {
      .fa-arrow-left {
        left: 40px;
      }
    }
  }
  .header-home {
    a {
      width: 350px; 
    }
  }

}