.menu-image {
    width: 100%;
}

.menu {
    @include section;
    background: #F6F6F6;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    position: relative;
    margin-top: -50px;

    &__title {
        margin-right: 20px;
        @include flex-row;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-family: 'Shrikhand', 'Roboto', sans-serif;
            font-weight: bold;
        }
    }

    &__meals {

        h2 {
            color: #606060;
            font-size: 18px;
            font-weight: 500;
            margin-top: 35px;
        }

        h3 {
            font-size: 16px;
        }

        .line {
            width: 50px;
            border: 2px solid #99E2D0;
            margin-top: -10px;
            margin-bottom: 15px;
        }

        &__data {
            background-color: #ffffff;
            border-radius: 25px;
            min-width: 340px;
            width: 100%;
            @include flex-row;
            margin-bottom: 20px;
            box-shadow: 4px 4px 6px 1px #c4c4c4;
            overflow: hidden;
            cursor: pointer;

            &__content {
                min-width: 80%;
                width: 95%;
                @include card-padding;

                &--overflow {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &__block {
                    @include flex-row;

                    &--text {
                        width: 100%;
                        @include flex-row;
                        justify-content: space-between;

                        p {
                            margin-top: 5px;
                        }
                    }

                    &--overflow {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }

            &__animation {
                background-color: $color-tertiary;
                width: 0%;
                transition: width 600ms ease-in-out;
                @include flex-center;
                color: white;
            }

            &--float-right {
                float: right;
                display: flex;
                justify-content: right;
                width: 0%;
                transition: width 600ms ease-in-out;
            }

            &:hover &--float-right {
                width: 20%;
            }

            &:hover &__content--overflow {
                margin-right: 15%;
            }

            &:hover &__content__block--overflow {
                margin-right: 10%;
            }

            &:hover &__animation {
                background-color: $color-tertiary;
                width: 100%;
            }

            &:hover &__animation--cross {
                display: flex;
            }

            &:hover .fa-check-circle {
                animation: rotate 600ms ease-in-out;
            }
        }
    }
}

.appetizers h2:nth-child(1) {
    animation: fadein 1.2s ease-in-out;
}

.appetizers .line:nth-child(2) {
    animation: fadein 1.3s ease-in-out;
}

.appetizers .menu__meals__data:nth-child(3) {
    animation: fadein 1.4s ease-in-out;

    h3,
    p {
        animation: baseline 1.4s forwards;
    }
}

.appetizers .menu__meals__data:nth-child(4) {
    animation: fadein 1.5s ease-in-out;

    h3,
    p {
        animation: baseline 1.5s forwards;
    }
}

.appetizers .menu__meals__data:nth-child(5) {
    animation: fadein 1.6s ease-in-out;

    h3,
    p {
        animation: baseline 1.6s forwards;
    }
}

.appetizers .menu__meals__data:nth-child(6) {
    animation: fadein 1.7s ease-in-out;

    h3,
    p {
        animation: baseline 1.7s forwards;
    }
}

.dishes h2:nth-child(1) {
    animation: fadein 1.8s ease-in-out;
}

.dishes .line:nth-child(2) {
    animation: fadein 1.9s ease-in-out;
}

.dishes .menu__meals__data:nth-child(3) {
    animation: fadein 2s ease-in-out;

    h3,
    p {
        animation: baseline 2s forwards;
    }
}

.dishes .menu__meals__data:nth-child(4) {
    animation: fadein 2.1s ease-in-out;

    h3,
    p {
        animation: baseline 2.1s forwards;
    }
}

.dishes .menu__meals__data:nth-child(5) {
    animation: fadein 2.2s ease-in-out;

    h3,
    p {
        animation: baseline 2.2s forwards;
    }
}

.desserts h2:nth-child(1) {
    animation: fadein 2.4s ease-in-out;
}

.desserts .line:nth-child(2) {
    animation: fadein 2.5s ease-in-out;
}

.desserts .menu__meals__data:nth-child(3) {
    animation: fadein 2.6s ease-in-out;

    h3,
    p {
        animation: baseline 2.6s forwards;
    }
}

.desserts .menu__meals__data:nth-child(4) {
    animation: fadein 2.7s ease-in-out;

    h3,
    p {
        animation: baseline 2.7s forwards;
    }
}

.desserts .menu__meals__data:nth-child(5) {
    animation: fadein 2.8s ease-in-out;

    h3,
    p {
        animation: baseline 2.8s forwards;
    }
}