.operation {
    @include operation;

    &__steps {
        display: flex;
        align-items: center;
        flex-direction: row; // ça met en row par défaut après un display flex;
        gap: 40px;


        padding: 25px;
        margin: 15px 20px 15px 30px;
        border-radius: 30px;
        box-shadow: 1px 2px 6px 2px #c4c4c4;

        &--number {
            background-color: #9356dc;
            color: white;
            width: 25px;
            height: 25px;
            min-width: 25px;
            min-height: 25px;
            border-radius: 50%;
            @include flex-center;
        }

        &:hover {
            background-color: #F5EDFF;

            .operation__steps--icon {
                color: #9356dc;
            }
        }

        p {
            font-weight: bold;
        }
    }


}