@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Robotoy&display=swap');
}

@font-face {
    font-family: "Shrikhand";
    src: url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
}

h1, h2, h3 {
    font-family: 'Shrikhand', 'Roboto', sans-serif;
    font-weight: bold;
}

body, html {
    font-family: 'Roboto', sans-serif;
}

h3,p {
    margin : 0;
}