@keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes grow{
    0%,100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  
    50%{
      -webkit-transform: scaleY(1.5);
      transform: scaleY(1.5);
    }
  }

  @keyframes loader {
    0% {
      position: absolute;
      display: flex;
      opacity: 1;
      z-index: 100;
    }
    50% {
      opacity: 0.5;
    }
    99% {
      z-index: 100;
    }
    100% {
      position: absolute;
      opacity: 0;
    }
  }

  @keyframes hide-scroll {
    from, to { overflow: hidden; } 
  }