@mixin maps {
  border: none;
  background: none;
  font-size: 1rem;
  padding: 20px 5px 20px 5px;
  text-align: center;
  width: 140px;
}

@mixin section-padding {
  padding: 30px 20px;
}

@mixin card-margin {
  margin: 15px 15px;
}

@mixin card-padding {
  padding: 15px 15px;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

//est-ce que je le renommerer pas en section pour touts les section
@mixin operation {
  width: 100%;
  @include section-padding;
}

@mixin restaurants {
  width: 100%;
  @include section-padding;
}

@mixin menu {
  width: 100%;
  @include section-padding;
}

//j'en fais un mixin mais théoriquement ça devrait-être un composants

@mixin heart-hover {
  text-shadow: none;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}