@mixin maps {
    border: none;
    background: none;
    font-size: 1rem;
    padding: 20px 5px 20px 5px;
    text-align: center;
    width: 140px;
  }

  @mixin section-padding {
    padding: 30px 20px;
  }
  @mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin about {
    background: #f6f6f6;
    text-align: center;
    width: 100%;
    @include section-padding;
  }
  @mixin btn-about {
    background-image: $linear-gradient;
    border: none; // sinon le hover rajouter des bordures et en 1px même en transparent on voit un liseret violet foncée
    border-radius: 30px;
    padding: 15px 20px;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
  }

  @mixin operation {
    width: 100%;
    @include section-padding;
  }